.firmFacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  & > :first-child {
    grid-row: span 3;
    display: flex;
    align-items: center;
  }

  & > :nth-child(-n + 4) {
    display: flex;
    align-items: center;
  }
}
